<div class="container">
  <h1>Contact</h1>

  <ul class="social-media">
    <li><a href="mailto:brindhapalani0910@gmail.com"><i class='bx bxl-gmail'></i></a></li>
    <li><i class='bx bxl-facebook-circle'></i></li>
    <li><i class='bx bxl-instagram'></i></li>
    <li><a href="https://www.linkedin.com/in/brindha-palani-a42b26235" target="_blank">
      <i class='bx bxl-linkedin'></i></a></li>
  </ul>

  <ul class="contact-info">
    <li>Mobile: +91-8148155880</li>
    <li><a href="mailto:brindhapalani0910@gmail.com">brindhapalani0910@gmail.com</a></li>
  </ul>
</div>
